.btncolor:hover {

    background-color: #FF3B3F !important;
    

  }
  .btncolor {

    background-color: #342f2f !important;
    color: #ffffff !important;
  }
  .color {

    background-color: #FF3B3F !important;
    color: #ffffff !important;
  }